<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'myApp/styles2.css' %}">
    <title>Document</title>
</head>
<body>
    <div style="width: 80%;">
        <canvas id="graphique-barres"></canvas>
    </div>
    
    <script>
        var ctx = document.getElementById('graphique-barres').getContext('2d');
        var labels = JSON.parse('{{ labels|escapejs }}');
        var valeurs = JSON.parse('{{ valeurs|escapejs }}');
    
        var graphique = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Température',
                    data: valeurs,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    
</body>
</html>