<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'myApp/styles.css' %}">
    <title>Graphique de Température</title>
</head>
<body>
    <div class="container">
        <h1>Graphique de Température</h1>
        <div class="chart-container">
        <canvas id="graphique-barres"></canvas>
    </div>
</div>
    
    <script>
        var ctx = document.getElementById('graphique-barres').getContext('2d');
        var labels = {{ labels_json|safe }};
        var valeurs = {{ valeurs_json|safe }};
    
        var graphique = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Température',
                    data: valeurs,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        // Fonction pour rafraîchir la page toutes les X millisecondes (par exemple, toutes les 60 secondes).
    function refreshPage() {
        location.reload();
    }

    // Appelez la fonction de rafraîchissement toutes les 60000 millisecondes (60 secondes).
    setInterval(refreshPage, 60000); // 60000 ms = 60 s
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
</body>
</html>
