/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.navbar {
    background-color: #333; 
    color: #fff;
    text-align: center;
    padding: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart-container {
    text-align: center;
}

/* Styles pour la barre de navigation */
.navbar {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.nav-links {
    list-style-type: none;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

/* Styles pour les sections */
.section {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

/* Styles pour les titres de section */
.section h2 {
    color: #007BFF;
}

/* Styles pour le graphique */
.chart-container {
    text-align: center;
}

/* Ajoute d'autres styles CSS selon tes besoins */
