/* Style du conteneur du graphique */
#graphique-barres-container {
    width: 80%; /* Largeur du conteneur */
    margin: 20px auto; /* Centrer horizontalement */
}

/* Style du graphique à barres */
#graphique-barres {
    border: 1px solid #ccc; /* Bordure autour du graphique */
}

/* Style pour les étiquettes (labels) sur l'axe des X */
#graphique-barres .chartjs-x-axis-label {
    font-size: 14px; /* Taille de police */
    font-weight: bold; /* Gras */
}

/* Style pour les valeurs (valeurs) sur l'axe des Y */
#graphique-barres .chartjs-y-axis-label {
    font-size: 14px; /* Taille de police */
    font-weight: bold; /* Gras */
}

/* Style pour le titre du graphique */
#graphique-barres .chartjs-title {
    font-size: 18px; /* Taille de police */
    font-weight: bold; /* Gras */
}
